img {
    float: left;
    height: 200px;
    width: 250px;
}

.bootstrapOverride .jumbotron {
    background-image: url("../assets/crystalBackground.JPG");
}
.bootstrapOverride li {
    font-weight: 350;
}


